@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
 
* {box-sizing: border-box;}

body {
	background: url(../images/background.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	margin: -8px -8px;
	height: 100vh;
	overflow: hidden;
	position: relative;
	z-index: 1;	
	color: rgb(48,24,0);
}
*:not(h1) {
	font-family: 'Open Sans', sans-serif;	
}
.header {
	position: relative;
	z-index: 1;
	overflow: hidden;
}
.header h1 {
    font-family: 'Satisfy', cursive;
	color: #fff;
	font-size: 120px;
	font-weight: 700;
	text-align: center;
	margin: 50px 0 0 0;
	text-shadow: 2px 2px 5px rgb(48,24,0,1); 
}