/* TABS */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

/* tab div */
.tab {
	overflow: hidden;
	padding: 15px 25px;
	width: 100%;
	text-align: center;
}

/* tab buttons */
.tab button {
	font-family: 'Open Sans', sans-serif;	
	background-color: inherit;
	float: none;
	border: none;
	outline: none;
	cursor: pointer;
	margin: 0 35px;
	padding: 14px 5px;
    background-color: rgb(191,167,111, 0);
	border-bottom: 5px solid rgb(0, 0, 0, 0);
	transition: 0.3s;
	font-size: 24px;
	font-weight: bold;
	text-shadow: 2px 2px 5px rgb(48,24,0,1); 
	text-transform: uppercase;
	color: white;
}

/* tab hover */
.tab button:hover {
    border-bottom: 5px solid rgb(255,255,255,1);
}

/* tab active */
.tab button.active {
    border-bottom: 5px solid rgb(255,255,255,1);
}

/* tab content */
.tabcontent {
	display: none;
	padding: 6px 12px;
    animation: fadeEffect 0.4s; 
}
@keyframes fadeEffect {
	from {opacity: 0;}
	to {opacity: 1;}
} 